.Loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #16261f;
}

.gifLoader {
  width: 480px;
  height: 360px;
}

.Loader p {
  font-size: 1.5rem;
  color: #333;
  margin-top: 20px;
}
