.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    padding: 0.5rem;
    border-radius: 24px;
}

.form input {
    width: 400px; 
    padding: 12px 20px;
    border: none; 
    border-radius: 24px 0 0 24px; 
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    outline: none; 
}

.form input:focus {
    background-color: #aed9ba; 
}

.form_boton {
    padding: 12px 20px;
    color: #ffffff; 
    border: none;
    border-radius: 0 24px 24px 0; 
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form_boton:hover {
    background-color: #cdc75d; 
}
