.movie-card {
    width: 15vw;
    height: 45vh;
    display: grid;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: #607f72;
    margin: 2vw;
    padding: 10px;
    overflow: hidden;
    font-family: "Poppins", sans-serif;

}

.movie-card:hover {
    transform: scale(1.05);
    height: 50vh;
}

.movie-card img {
    justify-self: center;
    width: 10vw;
    height: auto;
}

.movie-card h3 {
    margin: 0;
    padding: 0.5em 0;
    font-size: 1em;
    text-align: center;
    color: #ffffff;
}

.movie-card p {
    margin: 0;
    padding: 0.5em;
    font-size: 0.8em;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    max-height: 3em;
    font-size: x-small;

}

.movie-card p:hover {
    white-space: normal;
    overflow: visible;
    max-height: none;
}

button {
    background-color: #25312c;
    color: #607f72;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    align-self: center;
    font-family: "Poppins", sans-serif;

}

button:hover {
    background-color: #3a4a42;
}

a {
    text-decoration: none;
    color: #25312c;
    margin-top: 1vh ;
}