body {
    background-color: #16261f;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#607f72;
    font-family: "Open Sans", sans-serif;
    padding: 20px 20px 20px 20px;
}

.Detalle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border-radius: 10px;
    max-width: 80vw;
}

.Detalle-img {
    height: 60vh;
    width: auto;
    margin-right: 20px;
    border-radius: 6px;

}


.title-info img{
    height: 2vh;
    background-color: #607f72;
    padding: 1%;
    border-radius: 10px;
}

.title-info img:hover {
    cursor: pointer;
    scale: 1.1;
}

.title-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

.rating {
    display: flex;
}

.detalle-genero {
    background-color: #607f72;
    padding: 1%;
    color: #16261f;
}

.detalle-genero:hover {
    cursor: pointer;
    scale: 1.1;
}
