.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}